body{
  font-family: Helvetica,sans-serif;
  padding-bottom: 0px;
  margin:0;
  padding:0;
  margin-bottom: -40px;
  background:  white;
}

.container{
  margin-left:0;
  position:relative;
  width:50%;
  left:10%;
  right:10%;
  min-height:100%; 
}
.modamenu{
  position: fixed;
  right: 0;
  top: 20%;
  width: 15%;
  border-style: solid;
  margin-right: 10%;
}

.dashboard{
  position:relative;
  margin-top:-100px;
  width:300px;
  border-style: solid;
  text-align:center;
  padding: 10px;
}
.piramide{
  position:relative;
  margin-top:5px;
  margin-bottom:10%;
  width:300px;
  border-style: solid;
  text-align:center;
  border-style: solid;
  padding: 10px;  
}
.navbar{
  width:80%;
  margin: 0 auto;
  background: #3083ff;
  border-bottom-left-radius: 20% ;
  border-bottom-right-radius: 20%;
  border-width: 4px;
  border-style: solid;
  border-color: #def700;
  color: black;
  /*text-transform: uppercase;*/
}
.pyramid{
  width:50%;
  margin-left: -7%;
  margin-top: 5%;
}
nav>ul>li{
  list-style: none;
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  z-index: 10;
}

nav>ul>li:hover {
  background-color:#3083ff;
}

ul.dropdown{
  position: absolute;
  list-style: none;
  margin:0;
  padding:0;
  width:100%;
  margin-left: -25px;
  padding-top: 15px;
  display:none;

}
ul.dropdown>li{
  text-align: center;
  padding: 10px;
  background-color: #3083ff;
  margin: 1px;
}
.navbar li:hover .dropdown{
  display: inherit;
}

ul.dropdown>li:hover {
  background-color:#3083ff;
}

ul.submenu{
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width:100%;
  display: none;
  padding-left: auto;
}
ul.submenu li{
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #3083ff;
  margin: 1px;
}
ul.submenu>li:hover{
  background-color: #3083ff;
}

ul.dropdown>li:hover ul.submenu{
  display: inline-block;
}

li{
  border-radius:5px;
}

a{
  text-decoration: none;
  color: white;
}
a:hover, a:focus {
    text-decoration: none;
    color: black; }

.footer{
    background-color: #3083ff;
    color:white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    border-width: 4px;
    border-style: solid;
    border-color: #def700;
    border-top-left-radius: 20% ;
    border-top-right-radius: 20%;
    position: relative;
    text-align:center;
    bottom: 0;
    height:200px;
    width: 100%;  
}
  .footer ul{
    padding-right: 10px;
    margin:0 0 15px;}
  .footer li{
    padding: 0;
    margin:0;}
  .footer ul li{
    list-style: none;
    text-align: left;}

.footer li{
  list-style-type: none;  
}

.footer ul{
  float: left;
  margin: 0;
}

.footer img{
  padding-top: 50px;
  padding-right: 100px;
  float: right;
  height:50%;
  width:auto;
}

/**/
.login {
  width: 340px;
  background-color: #1E90FF;
  border-radius: 5px;
  padding: 20px;
  background-image: -webkit-linear-gradient(90deg, #ADD8E6, #1E90FF);
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -170px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.login h2 {
  color: white;
  font-size: 20px;
  margin: 0 0 15px;
  text-shadow: 0px -1px rgba(0, 0, 0, 0.5);
}
.login fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 10px;
}
.login fieldset input {
  outline: none;
  width: 300px;
  height: 12px;
  display: block;
  background: #ADD8E6;
  border: 1px solid #1E90FF;
  margin: 0;
  padding: 13px 15px;
  font-size: 13px;
}
.login fieldset input:focus, .login fieldset input:active {
  background-color:  #ADD8E6;
}
.login fieldset input:nth-child(1) {
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
}
.login fieldset input:nth-child(2) {
  position: relative;
  top: -1px;
  border-radius: 0 0 5px 5px;
  box-shadow: black;
}
.login fieldset ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.login input[type="submit"] {
  margin: 0;
  display: block;
  padding: 13px ;
  width: 335px;
  font-size: 13px;
  font-weight: bold;
  border: 0;
  text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
  background-color: #f6ba35;
  background-image: -webkit-linear-gradient(90deg, #eca418, #ffcd4e);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.login .utilities {
  margin-top: 20px;
}
.login .utilities a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
}
.login .utilities a:hover {
  color: white;
}
.login .utilities a:nth-child(2) {
  display: block;
  float: right;
  width: 50%;
  text-align: right;
}
.login:before, .login:after {
  z-index: -1;
  position: absolute;
  content: "";
  left: 5px;
  width: 53%;
  top: 15px;
  height: 80%;
  bottom: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: -10px -15px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-3deg);
}
.login:after {
  box-shadow: 10px -15px 20px rgba(0, 0, 0, 0.2) !important;
  -webkit-transform: rotate(3deg);
  right: 5px;
  left: auto;
}